.gift{
    height: 50px;
    width: 250px;
    background-color: white;
    border: 1px solid grey;
}
.jk{
    background-color: rgb(224, 224, 224);
}

.fop:hover{
  background-color: rgb(232, 77, 77);
  color: white;
}