.hp{
    font-size: 12px;
}
.pot:hover{
    color: red;
}
.golop{
    height: 400px;
    width: 210px;
    
    background-color: white;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.polo2{
    font-size: 15px;
}
.kji{
    font-size: 12px;
}
.circlo{
    height:50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid grey;
    }
.no{
    background-color: rgb(234, 233, 233);
}