.seats{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    color: #1ea83c;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 6px;
    border: 1px solid #1ea83c;
}
.seats:hover{
    background-color: #1ea83c;
    color: white;
}
.ko{
    
    margin-left:100px;
}
.g{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: rgb(224, 220, 220);
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 6px;
    
   
}