.omy{
    
        height: 40px;
        width: 40px;
        border-radius:50%;
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 1px solid rgb(18, 13, 13);
      
}
.lop{
    height: 90px;
    width: 70px;
    background-color: #f84464;
    border-radius: 8px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    color: white;
    font-weight:800;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    
}
.bp{
    height: 30px;
    width: 50px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}
.fle{
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background-color: #f84464;
   display: flex;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 20px;
   font-weight: 700;
}
.fleg:hover{
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background-color: #f84464;
   display: flex;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 20px;
   font-weight: 700;
}